<section style="padding-top: 10px; padding-bottom: 2px; ">
    <%= render 'shared/breadcrumb', category: @post.category %>
</section>

<article class="post">
    <section class="post-head">
        <h1><%= link_to @post.title %></h1>
        <small>
            <time><%= @post.created_at.to_date.strftime("%d %B, %Y") %></time>

            <% if @post.category.present? %>
            |
                <%= link_to @post.category.name, @post.category %>
            <% end %>

            <% if user_signed_in? && current_user.admin? %>
            |
            <%= link_to 'Змінити', edit_admin_post_path(@post) %>
            |
            <%= link_to "Видалити", admin_post_path(@post), method: :delete, data: {confirm: 'Ви впевнені?'} %>
            <% end %>
            
        </small>
    </section>
    <section class="post-body" style="width:400px; height:auto">
        <% if @post.image.attached? %>
        <%= image_tag @post.image, style: "width:100% " %>
        <% else %>
        <% end %>
    </section>
    <section class="post-body">
        <h2><%= @post.body %></h2>
    </section>
    <section class="footer-summary">
    <%= raw @post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'btn btn-info' }.join(' ') %>         
    </section>
</article>

<%= render 'disqus' %>